<!-- Name: Justin Barlowe
File: app.component.html
Description: HTML component file for composer app
Date: 10/24/2023 -->

<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact Us</a>
    </li>
  </ul>
</nav>
<br><br>
<!-- Assignment Number -->
<h2 class="text-center mt-6">{{ assignment }} </h2>

<!-- Router Outlet -->
<div>
  <br><br>
  <div class="container">
  <router-outlet></router-outlet>
</div>
</div>
